<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn9s384wO0hmu7Qhg58k7_DL7-0jtX2pw</string>
	<key>GCM_SENDER_ID</key>
	<string>510629881695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tindak.app1</string>
	<key>PROJECT_ID</key>
	<string>tindak-8401f</string>
	<key>STORAGE_BUCKET</key>
	<string>tindak-8401f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510629881695:ios:5e7d7d7d945bc2411af8ea</string>
	<key>DATABASE_URL</key>
	<string>https://tindak-8401f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>